# General
[commit]
	verbose = true
[core]
	editor = hx
[init]
	defaultBranch = main
[pull]
	ff = only
[push]
	autosetupremote = true

# Diffs
[core]
	pager = delta
[delta]
	navigate = true	# use n and N to move between diff sections
	light = false	  # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
[diff]
	colorMoved = default
	algorithm = histogram
[interactive]
	diffFilter = delta --color-only
[merge]
	conflictstyle = diff3

# LFS
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

# Personal Info
[user]
	email = duncanfairbanks6@gmail.com
	name = Duncan Fairbanks
[credential]
	helper = store

# StackedGit
[stgit.alias]
	s = series -I
	r = refresh

# Foresight stuff
[url "ssh://git@github.com/ForesightMiningSoftwareCorporation"]
	insteadOf = https://github.com/ForesightMiningSoftwareCorporation
[url "ssh://git@github.com/"]
    insteadOf = https://github.com/
[url "ssh://git@github.com/"]
    insteadOf = https://git@github.com/
